.root {
    -fx-font-family: "calibri";
    -fx-background-color: #F5F5F5;
}


.titled-pane {
    -fx-background-color: #D32F2F;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.titled-pane > .title {
    -fx-background-color: #D32F2F;
    -fx-text-fill: white;
    -fx-padding: 10;
}


.titled-pane > .content {
    -fx-background-color: #EEEEEE;
}


.button {
    -fx-background-color: transparent;
    -fx-text-fill: #424242;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-text-fill: #D32F2F;
}


.label {
    -fx-text-fill: #424242;
}